.content{   
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#mat-ink-bar{
    background-color: #f44336;
}
.example-margin{
    width:50px;
    height:50px;
}
.mat-progress-spinner path, .mat-spinner path {
    stroke: red;
}
