<div class="dropdown">
  <md-select placeholder="view" [(ngModel)]="selectedValue" (change)="onChange(selectedValue)" name="view" style="width:20%; margin-top: 20px">
    <md-option [value]="1">Mixed Compact View</md-option>
    <md-option [value]="2">Poster Card View</md-option>
    <md-option [value]="3">Backdrop Card View</md-option>
  </md-select>
</div>

<div *ngIf="selectedValue == 1">
  <div *ngFor="let item of data" style="display: inline-block;">
    <md-card style="padding: 0px; margin:10px">
      <div style="display: flex;">
        <div>
          <a href="movie/{{ item.id }}" title="{{ item.title }}">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ item.poster_path }}">
      </a>
        </div>
        <div class="info">
          <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            <a href="movieinfo/{{item.id}}" style="width:80%" >
          {{ item.title}}
        </a> {{ item.vote_average }}
          </div>
          <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"> {{ getGenreNamebyID(item.genre_ids) }}</div>
          <div class="overview"> {{ item.overview }}</div>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div *ngIf="selectedValue == 2">
  <div *ngFor="let item of data" style="margin:10px; display: inline-block;">
    <md-card style="padding: 0px">
      <div>
        <a href="movie/{{ item.id }}" title="{{ item.title }}">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ item.poster_path }}">
        </a>
      </div>
      <div>
        <a href="movie/{{ item.id }}" title="{{ item.title }}">{{ item.title}}</a>
      </div>
    </md-card>
  </div>
</div>

<div *ngIf="selectedValue == 3">
  <div *ngFor="let item of data" style="display: inline-block;margin-left: 10px;border-color: red">
    <md-card style="padding:0px; margin:10px;">
      <a href="movie/{{ item.id }}" title="{{ item.title }}">
        <div>
          <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2{{ item.backdrop_path }}" />
        </div>
      </a>
      <div class="title">
        <div style="float: left;">
          <a href="movie/{{ item.id }}" title="{{ item.title }}"> {{ item.title }}  </a>
        </div>
        <div style="float: right;">
          {{ item.vote_average }}
          <span class="icon icon-star-full"></span>
        </div>
      </div>
      <div class="title">
        <div class="genre">
          <div style="float: left;">{{ getGenreNamebyID(item.genre_ids) }}</div>
          <div style="float: right;"> {{ item.release_date}} <span class="icon icon-calendar"></span></div>
        </div>
      </div>
    </md-card>
  </div>
</div>