<div *ngFor="let item of data" style="display: inline-block;margin-left: 10px;border-color: red">
  <a href="tv/{{ item.id }}" title="{{ item.name }}">
    <div>
      <img src="https://image.tmdb.org/t/p/w500_and_h281_bestv2{{ item.backdrop_path }}" />
    </div>
  </a>
  <div class="title">
    <a href="tv/{{ item.id }}" title="{{ item.name }}" style="display: inline-block  ">
      {{ item.name }}
    </a>
    <p class="vote"> 
     {{ item.vote_average }} <span class="icon icon-star-full"></span></p>
  </div>
  <div class="genre">
  {{ getGenreNamebyID(item.genre_ids) }}
  {{ item.first_air_date | date:'y'}} <span class="icon icon-calendar"></span>
</div>