/* You can add global styles to this file, and also import other style files */
@import '~app/css/deeppurple-amber.css';

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q69tz7');
  src:  url('fonts/icomoon.eot?q69tz7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q69tz7') format('truetype'),
    url('fonts/icomoon.woff?q69tz7') format('woff'),
    url('fonts/icomoon.svg?q69tz7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-imdb:before {
  content: "\e900";
  font-size: 30px;
  text-decoration-line: none;
}
.icon-calendar:before {
  content: "\e953";
  text-decoration-line: none;
}
.icon-star-full:before {
  content: "\e9d9";
  text-decoration-line: none;
}
.icon-facebook:before {
  content: "\ea91";
    font-size: 30px;
  text-decoration-line: none;
}
.icon-instagram:before {
  content: "\ea92";
    font-size: 30px;
  text-decoration-line: none;
}
.icon-twitter:before {
  content: "\ea96";
    font-size: 30px;
  text-decoration-line: none;
}


.genre{
    padding-left: 1px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}


.meta{
    visibility: visible;
    background-color: rgba(255,255,255,0.9);
    position: relative;
    top: -40px;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.vote{
    text-align: right;
        padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
}
.dropdown {
        text-align: right;
    margin-bottom: 20px;
}
.overview {
    height: 190px;
        word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 10px;
}
.info {
    height: 278px;
    width: 270px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
}

a{
  text-decoration: none;
}